.programs {
  margin-top: 4rem;
}

.programs_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
  margin-top: 4rem;
}

.link_btn {
  margin-top: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .programs_wrapper {
    gap: 2rem;
  }
}
